*{
    margin: 0;
    font-family: "Inter";
}

#menu-superior{
    background-color: #303030;
    color: #FFFFFF;
    
}

#titulo-menusuperior{
    margin-left: 60px;
    padding-top: 150px;
    font-size: 45px;
}

#texto-menusuperior{
    margin-left: 60px;
    margin-top: 30px;
    padding-bottom: 100px;
}


#menu-informacional{
    color: #000000;
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
}

.textoinformativo{
    display: flex;
    align-items: center;
    margin: 50px 0px 50px 100px;
    padding: 25px;
   
}

.numeracao{
    position: absolute;
    width: 275px;
    height: 65px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 30px;
}

#apresentacao{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#info-apresentacao{
    margin: 200px 40px 300px 60px;
    height: 70px;
    padding-top: 50px;
}

#titulo-apresentacao{
    
    font-size: 250%;
    padding-left: 30px;

}

#texto-apresentacao{
    text-align: justify;
    font-size: 150%;
    padding-left: 30px;

}

#imagem{
    margin: 50px 25px 50px 100px
}

#formulario{
    background-color: #303030;
    color: #FFFFFF;
    text-align: center;
    padding: 100px;
}

#titulo-formulario{
    font-size: 30px;
    padding-top: 65px;
    padding-bottom: 20px;
    
}

input{
    width: 400px;
    height: 50px;
    background-color: white;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: bold;
}

button{
    width: 200px;
    height: 50px;
    background-color: #C07212;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
   
}

button:hover{
    background-color: #d1811f;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px 0px #e4b88652;   
    transition-duration: 0.5s;
}

